<mat-tab-group>
    <mat-tab label="Block Acces">
        <div style="text-align: center;">
            <img src="../../../../assets/img/block-acces.png" height="150px" width="150px">
        </div>
        <div style="text-align: center;">
            <label>Block acces for this user!!</label>
        </div>
    </mat-tab>
    <mat-tab label="Give Permission">
        <div style="text-align: center; margin-top: 10px;">
            <label>{{ email }}</label><span style="margin-left: 15px;" class="badge badge-pill badge-success">Success</span>
        </div>
        <div style="text-align: center; margin-top: 50px;">
            <label style="color: red;">Assigne a new permission for this utilisateur !</label>
            <br>
            <mat-form-field style="width: 150px;">
                <mat-label>Edite permission</mat-label>
                <mat-select>
                    <mat-option *ngFor="let permission of permissions" [value]="permission.value">
                        {{permission.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div style="text-align: center;">
            <button class="btn btn-primary">Validate</button>
        </div>

    </mat-tab>
</mat-tab-group>