<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Smarte Ventes</span>
        <span class="example-spacer"></span>
        <div style="margin-right: 50x;">
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">notifications_none</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">settings</mat-icon>
        </div>
    </mat-toolbar-row>
</mat-toolbar>