<mat-toolbar color="bg-color">
    <mat-toolbar-row>
        <span>Smarte Ventes</span>
        <span class="example-spacer"></span>
        <div>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">help</mat-icon>
            <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">notifications_none</mat-icon>
            <label class="example-icon" (click)="onClick()">{{ email }}</label>
            <mat-icon class="example-icon" aria-hidden="false" (click)="onClick()" on aria-label="Example delete icon">settings</mat-icon>
        </div>
    </mat-toolbar-row>
</mat-toolbar>