
<form [formGroup]="service.form"  class="normal-form" class="bg-color">
    <mat-grid-list cols="2" rowHeight="300px">
        <mat-grid-tile>
            <div class="controles-container">

                <mat-form-field>
                    <input  matInput placeholder="Nom*" >
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input  matInput placeholder="Prenom" >
                    <mat-error>Invalid email address.</mat-error>
                </mat-form-field>

            </div>
        </mat-grid-tile>
        <mat-grid-tile>
           <div class="controles-container">

                <div class="add-bottom-padding">
                    <mat-radio-group >
                        <mat-radio-button value="M">Professionnel</mat-radio-button>
                        <mat-radio-button value="F">Civile</mat-radio-button>
                    </mat-radio-group>
                </div>
                <div class="add-bottom-padding">
                    <mat-radio-group >
                        <mat-radio-button value="M">Instructure</mat-radio-button>
                        <mat-radio-button value="F">TeamCDG</mat-radio-button>
                    </mat-radio-group>
                </div>


            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>
