.container {
    margin-right: auto;
    margin-left: auto;
}

.bg-img {
    background-image: url(../../assets/img/profile.jpg);
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}