<div class="mat-elevation-z8" style="background-color: #ffffff; margin-top: 15px;">
    <mat-form-field class="col-12">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <table mat-table [dataSource]="listData">

        <!-- Position Column -->

        <ng-container matColumnDef="nomProduit">
            <th mat-header-cell *matHeaderCellDef> nomProduit </th>
            <td mat-cell *matCellDef="let element"> {{element.nomProduit}} </td>
        </ng-container>


        <ng-container matColumnDef="nomCourtProduit">
            <th mat-header-cell *matHeaderCellDef> nomCourtProduit </th>
            <td mat-cell *matCellDef="let element"> {{element.nomCourtProduit}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="prixBase">
            <th mat-header-cell *matHeaderCellDef> prixBase </th>
            <td mat-cell *matCellDef="let element"> {{element.prixBase}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="prixVente">
            <th mat-header-cell *matHeaderCellDef> prixVente </th>
            <td mat-cell *matCellDef="let element"> {{element.prixVente}} </td>
        </ng-container>

        <ng-container matColumnDef="seuilMaxRemise">
            <th mat-header-cell *matHeaderCellDef> seuilMaxRemise </th>
            <td mat-cell *matCellDef="let element"> {{element.seuilMaxRemise}} </td>
        </ng-container>
        <ng-container matColumnDef="uniteProduit">
            <th mat-header-cell *matHeaderCellDef> uniteProduit </th>
            <td mat-cell *matCellDef="let element"> {{element.uniteProduit}} </td>
        </ng-container>

        <ng-container matColumnDef="quantiteInitialStock">
            <th mat-header-cell *matHeaderCellDef> quantiteInitialStock </th>
            <td mat-cell *matCellDef="let element"> {{element.quantiteInitialStock}} </td>
        </ng-container>

        <ng-container matColumnDef="quantiteActuelStock">
            <th mat-header-cell *matHeaderCellDef> quantiteActuelStock </th>
            <td mat-cell *matCellDef="let element"> {{element.quantiteActuelStock}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> action </th>
            <td mat-cell *matCellDef="let row">

                <button mat-icon-button (click)="onEdit(row)">
        <mat-icon>launch</mat-icon>
      </button>
                <button mat-icon-button (click)="onDelete(row.id)" color="warn">
        <mat-icon>delete_outline</mat-icon>
      </button>

            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[ 5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>