<app-navbar></app-navbar>

<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <app-sidebar> </app-sidebar>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="accent">
            <p class="card-text">Bienvenu a votre espace de Smart Vente.</p>
            <span style="flex: 1 1 auto;"></span>
            <div>
                <button mat-icon-button matTooltip="My Account">
          <i class="material-icons"> search </i>
        </button>
            </div>
        </mat-toolbar>

        <div class="container-fluid">
            <router-outlet> </router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>