<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Abonnement</h1>
    <p class="lead">Vous voulez rester en contact permanent avec vos proches, la gamme des forfaits choisisez . de manière générale à une souscription convenue entre un prestataire et un bénéficiaire pour un même service proposé en plusieurs fois ou sur une période donnée.</p>
</div>
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">MAD0 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li style="color: green;">Type D'bonnement</li>
                    <li class="strikethrough" style="color: red;">Statistic a jours</li>
                    <li class="strikethrough" style="color: red;"> Email support </li>
                    <li class="strikethrough" style="color: red;"> Help center access</li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">MAD15 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li style="color: green;">Type D'bonnement</li>
                    <li style="color: green;">Statistic a jours</li>
                    <li style="color: green;">Email support</li>
                    <li class="strikethrough" style="color: red;"> Help center access </li>
                </ul>
            </div>
        </div>
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Enterprise</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">MAD29 <small class="text-muted">/ mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li style="color: green;">Type D'bonnement</li>
                    <li style="color: green;">Statistic a jours</li>
                    <li style="color: green;">Email support</li>
                    <li style="color: green;">Help center access</li>
                </ul>
            </div>
        </div>
    </div>


</div>
